@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #fff;
  font-family: variex, sans-serif;
  top:0;
  left: 0;
}

/* h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 10px;
} */

/* h2 span {
  font-size: 1.2em;
} */

/* p {
  font-size: 15px;
} */



/* .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.container > div {
  cursor: pointer;
  height: 210px;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all 0.5s ease-in;
} */

/* .container > div:hover {
  opacity: 0.7;
  transform: scale(0.98);
}

.container > div:nth-of-type() {
  grid-column: 1 / 3;
}

.container > div:nth-of-type() {
  grid-column: 3 / 5;
}

.container > div:nth-of-type() {
  grid-column: 3 / 5;
}

.container > div:nth-of-type() {
  grid-column: 1 / 3;
} */

/* .bg1 {
  background: url('https://i.ibb.co/dBLbrRV/bg1.jpg');
}

.bg2 {
  background: url('https://i.ibb.co/Fb5jb3J/bg2.jpg');
  color: #333;
} */










/* ================================================ */
/* .connectionShow { */
.connectionShow {
    min-width: 100vw;
    max-height: 30vh;
    /* margin-top: 35em; */
    top: 2em;
    left:0;

    z-index: 5;
    position: absolute;
}

.container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-gap: .7em; */
    margin: 50px;
}

/* /////////////////////////// */
/* network networkContainer */
/* /////////////////////////// */
section .connectionShowNetwork {
    max-height: 20vh;

    background-color: rgb(66, 96, 136);
    min-width: 100%;

    display: grid;
    grid-template-columns: repeat(22,1fr);
    grid-template-rows: repeat(11, 1fr);
    /* grid-gap: .4em; */
    margin-bottom: 50px;

    /* position: relative; */
}

/* .networkContainer { */
  /* display: flex; */
  /* background-attachment: fixed; */
  /* background: url("./images/dandelion_seeds_by_jollyoldgeezer_d3gdzd7-pre.jpg") */

/* } */

.container > .connectionShowNetworkItem {
cursor: pointer;

background-attachment: fixed;
background-size: cover;
background-position: center;


/* display: flex; */
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;

transition: all 0.5s ease-in-out;
}


.connectionShowNetworkItem {
    background: url("./images/dandelion_seeds_by_jollyoldgeezer_d3gdzd7-pre.jpg")
}

.connectionShowNetworkItem >p {
    font-size: 1.2em;
}

.connectionShowNetworkItem >h2 {
    font-size: .5em;
}

/* /////////////////////////// */
/* main profile photo START */
#profile-photo {
  width: 15em;
  height: 15em;
  margin: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.imgContainer {
    /* margin-top: 50%; */
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height:100%;
    padding: 1em;
}

.image-wrapper {
    /* max-width: 100%; */
    background-color: antiquewhite;
    max-height: 100%;
    /* width: 15em; */
    height:100%;
    border-radius: 50%;
    overflow: hidden;
    /* justify-content: baseline; */
    justify-content: center;

    align-self: center;
}

.connectionShowNetwork__img {
  /* width: 100%; */
  height: 100%;
  /* margin-bottom: -20px; */
  /* display: fit; */
  /* bottom: 0; */
  /* background-attachment: fit; */
}

/* END main profile photo */
/* /////////////////////////// */


/* /////////////////////////// */
/* (property)-network parents */
.great-grandparent-mini-photo {
  max-width: 8em;
  position: relative;
  /* display: flex; */
}

.grandparent-circle{
  /* border: .4em solid #fff; */
  background-color: #E41A24;  

  /* padding: .4em; */
  max-height: 7em;
  max-width: 7em;
  min-height: 7em;
  min-width: 7em;
  
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.parent-circle{
  
  padding: .4em;
  align-self: center;

}

/* .network-photo {
  padding: 20px;
} */

/* container children (network) */
.container > div:nth-of-type(1) {
    grid-column: 3 / 6;
    grid-row: 2 / 5;
    /* display: flex; */

}

/* profilePhoto */
.container > div:nth-of-type(2) {
    grid-column: 10 / 15;
    grid-row: 2 / 7;
    /* display: flex; */

} 

.network_deets {
    max-height: 2em;
    /* margin: 1em; */
    /* max-width: 10em; */
    /* display: flex; */

}

/* preferredName */
.container > div:nth-of-type(3) {
    grid-column: 17 / 21;
    grid-row: 2 / 3;
    /* display: flex; */

  }

/* firstName */
.container > div:nth-of-type(4) {
    grid-column: 17 / 21;
    grid-row: 3 / 4;
    /* display: flex; */

}

/* lastName */
.container > div:nth-of-type(5) {
    grid-column: 17 / 21;
    grid-row: 4 / 5;
    /* display: flex; */

}

/* company */
.container > div:nth-of-type(6) {
    grid-column: 17 / 21;
    grid-row: 5 / 6;

    /* display: flex; */

}

/* network name */
.container > div:nth-of-type(7) {
    grid-column: 17 / 19;
    grid-row: 6 / 7;  
    /* display: flex; */

}
/* dateReview */
.container > div:nth-of-type(8) {
    grid-column: 19 / 21;
    grid-row: 6 / 7;  
    /* display: flex; */

}

/* /////////////////////////// */
/* mini-photo styles */
.great-grandparent-mini-photo {
  border-radius: 50%;
  max-width: 5em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.grandparent-mini-photo {
  border-radius: 50%;
  /* background-color: #fff; */
  padding: .3em;
}

.parent-mini-photo {
  border-radius: 50%;
  overflow: hidden;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  align-content: center;
}

.mini-photo {
  width: 100%;
}

/* first-mini-photo */
.container > div:nth-of-type(9)  {
  grid-column: 7 / 9;
  grid-row: 4 / 6;
  
}

/* second-mini-photo */
.container > div:nth-of-type(10) {
  grid-column: 8 / 10;
  grid-row: 6 / 8;
}

/* third-mini-photo */
.container > div:nth-of-type(11) {
  grid-column: 10 / 12;
  grid-row: 8 / 10;
}

/* fourth-mini-photo */
.container > div:nth-of-type(12) {
  grid-column: 13 / 15;
  grid-row: 8 / 10;
}

/* fifth-mini-photo */
.container > div:nth-of-type(13) {
  grid-column: 15 / 17;
  grid-row: 7 / 9;
}
/* /////////////////////////// */
/* END network container */
/* /////////////////////////// */


/* /////////////////////////// */
/* contact Container START */
/* /////////////////////////// */
section .connection-show__contact {
  max-height: 20vh;

}

.contactContainer > .connection-show__contactItem {
    cursor: pointer;
    height: 40px;
    background-size: cover;
    background-attachment: fixed;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    transition: all 0.5s ease-in;
}

.connection-show__contact {
    background-color: rgb(131, 212, 138);

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.connection-show__contactItem {
    background: url("./images/natural_spectacles_26_by_mt_photografien_dahtedd-fullview.jpg")
}

.connection-show__contactItem >h2 {
    font-size: 20px;
}

/* /////////////////////////// */
/* END  contact Container */
/* /////////////////////////// */