@import url("https://use.typekit.net/mqq4bnw.css");

#logo {
    /* position: absolute; */
    margin: 4px 50px 20px 5px;
    font-family: variex, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    color: #00CEBD;
}