@import url("https://use.typekit.net/mqq4bnw.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: variex, sans-serif;

  }

.side-bar {
    top: 0;
    /* left: 0; */
    right: 0;
    z-index: 99;
    bottom: 0;
    /* min-height: 100%; */
}

.side-bar-container {
    background-color: #00CEBD;
    height: 200vh;
    position: absolute;
    width: 6em;

    font-family: variex, sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    right: 0;
    top: 0;
}

.navlink {
    /* display: flex; */
    /* transition: all 0.5s ease-in; */
}



/* TODO */
.navIcon{}



.link {
    display: flex;
    margin-top: .8em;
    text-decoration: none;

    padding: .5em 0 1.5em .8em;
    background-color: #fff;

    text-align: left;
    align-items: flex-start;
    align-content: center;
    margin-right: 1.2em;
    margin-left: -.8em;
    border-radius: 10px;

    max-height: 2.5em;
    max-width: 6em;
        /* min-height: 2em; */
        min-width: 5em;

    transition: all 0.4s ease-in-out;
}


.link:hover {
    /* opacity: 0.7; */
    background-color: #eff;
    text-decoration: none;
    /* transform: scale(0.98); */
    margin-left: -1.2em;
}

.navlink:hover {
    /* box-shadow: 2px 2px 2px 0 rgba(0,0,0,.9); */
    text-decoration: none;
}

/* will flip an icon/image horizontally */
/* transform: scaleX(-1); */
