
/* @import url('') */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;

}

body {
  background: #333;
  /* background: #C0BFB9; */
  /* color: #fff; */
  color: #6D757C;
  font-family: variex, sans-serif;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

/* h2 {
  font-size: 30px;
  font-weight: 300;
  margin: 10px;
} */

/* h2 span {
  font-size: 1.2em;
} */

/* p {
  font-size: 15px;
} */



/* .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.container > div {
  cursor: pointer;
  height: 210px;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all 0.5s ease-in;
} */

/* .container > div:hover {
  opacity: 0.7;
  transform: scale(0.98);
}

.container > div:nth-of-type() {
  grid-column: 1 / 3;
}

.container > div:nth-of-type() {
  grid-column: 3 / 5;
}

.container > div:nth-of-type() {
  grid-column: 3 / 5;
}

.container > div:nth-of-type() {
  grid-column: 1 / 3;
} */

/* .bg1 {
  background: url('https://i.ibb.co/dBLbrRV/bg1.jpg');
}

.bg2 {
  background: url('https://i.ibb.co/Fb5jb3J/bg2.jpg');
  color: #333;
} */










/* ================================================ */
/* .connectionShow { */
.connectionShow {
    min-width: 80vw;
    max-height: 80vh;
    /* max-height: 30vh; */
    /* margin-top: 35em; */
    top: 10vh;
    left:0;
    margin: 0;
    z-index: 5;
    position: absolute;
}

.noteContainer {
  z-index: 23;
  color: #006A56;

}

.connectionShowNetwork {
    display: grid;
    grid-gap: 5px;
    margin-left: 0;
    /* max-height: 20vh; */
    /* height: 800px; */
    /* max-height: 30vh; */
}

/* /////////////////////////// */
/* network networkContainer */
/* /////////////////////////// */
section .connectionShowNetwork {
    max-height: 20vh;
    max-width: 100%;
    min-width: 100vw;

    background-color: rgb(66, 96, 136);

    display: grid;
    grid-template-columns: repeat(14,1fr);
    grid-template-rows: repeat(11, 1fr);

    margin-bottom: 50px;
    

    /* position: relative; */
}

/* .networkContainer { */
  /* display: flex; */
  /* background-attachment: fixed; */
  /* background: url("./images/dandelion_seeds_by_jollyoldgeezer_d3gdzd7-pre.jpg") */

/* } */

.connectionShowNetwork > .connectionShowNetworkItem {
  cursor: pointer;

  background-attachment: fixed;
  background-size: cover;
  background-position: center;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  /* padding-bottom: ; */


  transition: all 0.5s ease-in-out;
}

.connectionShowNetworkItem > span, .connectionShowContactItem > span {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  align-content: center;
}

.connectionShowNetwork > .connectionShowNetworkItem:hover, .connectionShowContact > .connectionShowContactItem:hover {
  opacity: 0.7;
  transform: scale(0.98);
}

.connectionShowNetworkItem:hover >span, .connectionShowContactItem:hover >span{
  opacity: 1;
  transition: all 0.7s ease-in-out;
}


.connectionShowNetworkItem, .connectionShowContactItem, .noteItem{
    /* background: url("./images/dandelion_seeds_by_jollyoldgeezer_d3gdzd7-pre.jpg"); */
    /* background: url("./images/supernatural___eurekamic_by_l8_d1zrynu-pre.jpg"); */
    /* background: url("./images/colorful_drops_of_water_on_the_dandelion_by_mt_photografien_dd6gu70-pre.jpg"); */
    /* background: url("./images/falling_to_pieces_by_leahenning_ddecxhq-fullview.jpg"); */
    background: url("../components/Connection/images/blowing_in_the_wind_by_twoofhearts_d21frfl-pre.jpg");
    /* background: url("./images/hold_on_to_spring_by_framedbynature_d1easvg-fullview.jpg"); */
    /* background: url("./images/blow_it_all_away_by_zuliko_forever_d2omvyt-fullview.jpg"); */
    /* background: url("../components/Connection/images/Asset\ 1.png"); */
    background-size: cover;
    background-position: center top;
    /* display: ; */
}

.itemOnClick{}

.network_deets {
  max-height: 100%;
  min-height: 100%;
}

.connectionShowNetworkItem >h4 {
    /* font-size: 10px; */
    /* line-height: 1.5em; */
    /* display: inline; */
}

.connectionShowNetworkItem >p {
    /* font-size: 10px; */
    /* display: inline; */
}

.userConnectionListPage{
  display: grid;
  grid-template-columns: 2fr 1fr;

}
.userConnectionListPage > .selfNetwork{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.userConnectionListPage > .usersNetwork {
  width: 80%;
}

#networkTop{
  cursor: pointer;

  background-attachment: fixed;
  background-size: cover;
  background-position: center;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}



#networkTop:hover{
  opacity: 0.7;
  transform: scale(0.98);
}

#networkTop span {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#networkTop span:hover{
  opacity: 1;
  transition: all 0.7s ease-in-out;
}

/* /////////////////////////// */
/* connectionShowNetwork children (network) */
/* /////////////////////////// */

/* NETWORK */
.connectionShowNetwork > div:nth-of-type(1) {
    grid-column: 3 / 6;
    grid-row: 2 / 4;
    /* display: flex; */
}

 /* NETWORK's PARENTS */
.great-grandparent-mini-photo {
  max-width: 100%;
  height: 100%;
  
  /* position: relative; */
  /* z-index: 11; */
  /* display: flex; */
}

.grandparent-circle{
  /* border: .4em solid #fff; */
  background-color: #E41A24;  

  padding: 3%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-self: center;
}

.parent-circle{
  padding: 0 .4em;
  align-self: center;
  display: flex;
  flex-direction: column wrap;
}

#networkPhoto {
  color: white;
  font-size: 1vw;
  /* padding: 20px; */
}



/* /////////////////////////// */
/* PROFILE PHOTO: MAIN profilePhoto START*/

.connectionShowNetwork > div:nth-of-type(2) {
    grid-column: 8 / 10;
    grid-row: 2 / 5;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    display: flex;
    /* margin: 0; */
    margin-top: 10%;
    margin-left: -5%;
    z-index: 23;
    /* display: flex; */
    
} 

#profile-photo {
  padding: 1%;

  /* max-width: 15em; */
  /* max-height: 15em; */
  /* margin: 0; */
  /* border-radius: 50%; */
  /* display: flex; */
  /* justify-content: center;
  align-content: center; */
  /* width: 100%; */
    /* height:100%; */
    /* padding: 8%; */
    /* margin: 5%; */
  /* z-index: -1; */
}

.imgContainer {
    /* margin-top: 50%; */
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height:100%;
    /* padding: ; */
}

.image-wrapper {
    /* max-width: 100%; */
    background-color: antiquewhite;
    max-height: 100%;
    /* width: 15em; */
    height:100%;
    border-radius: 50%;
    overflow: hidden;
    /* justify-content: baseline; */
    /* justify-content: center; */
    display: flex;
    justify-content: baseline;
    align-content: center;
    align-items: baseline;
    /* align-self: center; */
}

.connectionShowNetwork__img {
  width: 12em;
  height: 12em;
}

/* END main profile photo */
/* /////////////////////////// */



/* /////////////////////////// */
/* PREFERRED NAME: preferredName */
.connectionShowNetwork > div:nth-of-type(3) {
    grid-column: 11 / 13;
    grid-row: 2 / 3;
    /* display: flex; */
    border-radius: 5px;

  }


/* /////////////////////////// */
/* FIRST NAME: firstName */
.connectionShowNetwork > div:nth-of-type(4) {
    grid-column: 11 / 13;
    grid-row: 3 / 4;
    margin-bottom: -10px;
    /* display: flex; */
    border-radius: 5px;

}


/* /////////////////////////// */
/* LAST NAME: lastName */
.connectionShowNetwork > div:nth-of-type(5) {
    grid-column: 11 / 13;
    grid-row: 4 / 5;
    margin-top: -10px;
    /* display: flex; */
    border-radius: 5px;
}


/* /////////////////////////// */
/* COMPANY: company */
.connectionShowNetwork > div:nth-of-type(6) {
    grid-column: 11 / 13;
    grid-row: 5 / 6;
    border-radius: 5px;

    /* display: flex; */

}


/* /////////////////////////// */
/* NETWORK NAME: network name */
.connectionShowNetwork > div:nth-of-type(7) {
    grid-column: 11 / 12;
    grid-row: 6 / 7;  
    border-radius: 5px;
}


/* /////////////////////////// */
/* DATE REVIEWED: dateReview */
.connectionShowNetwork > div:nth-of-type(8) {
    grid-column: 12 / 13;
    grid-row: 6 / 7;  
    display: flex;
    border-radius: 5px;

}


/* /////////////////////////////////////////////// */
/* SMALL PROFILE PHOTOSmini-photo styles */

.great-grandparent-mini-photo {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  /* padding: 5; */
  /* max-width: 5em; */
  display: flex;
  justify-content: center;
  align-content: center;
}

.grandparent-mini-photo {
  border-radius: 50%;
  /* background-color: #fff; */
  padding: 5%;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.parent-mini-photo {
  border-radius: 50%;
  overflow: hidden;
  /* padding: 5%; */
  width: 100%;
  height: 100%;
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  align-content: center; */
}

.miniPhoto {
  width: 4.1em;
  /* height: 100%; */
  /* margin-bottom: 5px; */
}

/* first-mini-photo */
.connectionShowNetwork > div:nth-of-type(9)  {
  grid-column: 7 / 8;
  grid-row: 3 / 4;
  margin-left: 25%;

  z-index: 11;
}

/* second-mini-photo */
.connectionShowNetwork > div:nth-of-type(10) {
  grid-column: 7 / 8;
  grid-row: 4 / 5;
  align-self: flex-end;
  margin-left: 40%;
  margin-top: 10%;
  z-index: 13;
}

/* third-mini-photo */
.connectionShowNetwork > div:nth-of-type(11) {
  grid-column: 8 / 9;
  grid-row: 5 / 6;
  margin-top: -15%;
  margin-left: -10%;
  z-index: 15;
}

/* fourth-mini-photo */
.connectionShowNetwork > div:nth-of-type(12) {
  grid-column: 9 / 10;
  grid-row: 5 / 6;
  margin-top: -10%;
  margin-left: -10%;
  z-index: 17;
}

/* fifth-mini-photo */
.connectionShowNetwork > div:nth-of-type(13) {
  grid-column: 10 / 11;
  grid-row: 4 / 5;
  margin-top: 20%;
  margin-left: -35%;
  z-index: 19;
}
/* /////////////////////////// */
/* END network container */
/* /////////////////////////// */






/* /////////////////////////// */
/* contact Container START */
/* /////////////////////////// */
#constrainContact {
  /* overflow: hidden; */
  margin-top: -5vh;
  max-height: 35vh;
  max-width: 40vw;
  overflow: scroll;
}

.connectionShowContact {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  /* grid-area: contact contact contact contact; */
  margin-left: 15vw;
  overflow: scroll;
  max-width: 40vw;

  /* height: 800px; */
  /* max-height: 30vh; */
}


.connectionShowContact > .connectionShowContactItem {
  cursor: pointer;

  background-attachment: fixed;
  background-size: cover;
  background-position: center;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 10px;

  transition: all 0.5s ease-in-out;
}


.connection-show__contact {
    background-color: rgb(131, 212, 138);

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 10px;
}

/* .connectionShow__contactItem {
    background: url("./images/natural_spectacles_26_by_mt_photografien_dahtedd-fullview.jpg")
} */

.connection-show__contactItem >h2 {
    font-size: 20px;
}







/* /////////////////////////// */
/* END  contact Container */
/* /////////////////////////// */