.ConnectionNew-profile-photo-preview {
    max-width: 150px;
    border-radius: 50%;
}

.pageOverflowHidden {
    max-height: 100vh;
    max-width: 100vw;
}

.pageOverflowXScrollX {
    max-height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    background-attachment: contain;
    background-image: url("./ekseedPNGs/Component31–1.png");
}

.allCompanies {
    max-height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    overflow-y: hidden;
    background-attachment: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url("./ekseedPNGs/Component40–1.png");
    background-size: 100vw;
}

.userConnectionListPage {
    max-height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    background-position: bottom;
    background-image: url("./ekseedPNGs/Group47sd.png");
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 65%;
}

.cardMargin {
    margin: 3%;
  }

.smallerCardArea {
    max-height: 2em;
    text-align: center;
}

.wrapCards {
    display: grid;
    grid-template-columns: 1fr,1fr, 1fr, 1fr;
    max-height: 90vh;
}

.connectionContainer {
    display: grid;
    grid-template-columns: 1fr,1fr, 1fr, 1fr;
}



.refreshParent {
    display: flex;
    margin-top: .8em;
    text-decoration: none;

    padding: .5em 0 1.7em .8em;
    background-color: #fff;

    text-align: left;
    align-items: flex-start;
    align-content: center;
    margin-right: 1.2em;
    margin-left: -.8em;
    border-radius: 10px;

    max-height: 2.5em;
    max-width: 6em;
        /* min-height: 2em; */
        min-width: 5em;

    transition: all 0.4s ease-in-out;
}


.refreshParent:hover{
    background-color: #eff;
    text-decoration: none;
    /* transform: scale(0.98); */
    margin-left: -1.2em;
}

.refreshParent >.refreshMargin {
    margin-left:95%;
    bottom: 50%;
}
.refreshMargin {
    z-index: 101;
    position: relative;
}


.editParent{
    margin-left:118%;
    bottom: -12%;
}
.refreshMargin2 {
    z-index: 101;
    position: relative;
}


.deleteParent {
    margin-top: 52%;
    margin-left:90%;

}


.refreshMargin3 {
    z-index: 101;
    position: relative;
}
